<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wenrong.zhaishidai.dao.UserMapper">
	
	<select id="getUserById" parameterType="String" resultType="User">
		select * from users where id=#{id}
	</select>
	
	<!-- 查询用户是否存在  -->
	<select id="getUserByName" parameterType="String" resultType="User">
		select * from users where account=#{account}
	</select>
	
	<insert id="saveUser" parameterType="User">
		insert into users (id,account,password) values(#{id},#{account},#{password})
	</insert>
	<!-- 更新用户token -->
	<update id="updateUserToken" parameterType="User">
	     update users set usertoken = #{usertoken} where id=#{id}
	</update>
	
	<!-- 通过用户名和ID获取用户 -->
	<select id="getUser" parameterType="User" resultType="User">
		select * from users where account=#{account} and password=#{password}
	</select>
	
</mapper>